
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

  body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(180deg, red, yellow);
    color: #FFFFFF;
  }
.button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button:active
{
  background-image: linear-gradient(144deg,#ff0800, #5B42F3 50%,#d9ff00);
}
.button:hover {
    background-image: linear-gradient(144deg,#40ffcf, #5B42F3 50%,#eb00df);
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}

#myProgress {
  width: 100%;
  background-color: rgb(102, 99, 76);
}

#myBar {
  width: 1%;
  height: 40px;
  background-color: rgb(251, 255, 0);
  background-image: linear-gradient(
  90deg,
  hsl(108deg 100% 61%) 0%,
  hsl(90deg 97% 55%) 10%,
  hsl(77deg 100% 49%) 20%,
  hsl(69deg 100% 48%) 30%,
  hsl(62deg 100% 47%) 40%,
  hsl(55deg 100% 50%) 50%,
  hsl(47deg 100% 50%) 60%,
  hsl(39deg 100% 50%) 70%,
  hsl(30deg 100% 50%) 80%,
  hsl(20deg 100% 50%) 90%,
  hsl(0deg 100% 50%) 100%


);
}
#myBar2 {
  width: 1%;
  height: 60px;
  background-color: rgb(251, 255, 0);
  background-image: linear-gradient(
  270deg,
  hsl(0deg 0% 100%) 0%,
  hsl(57deg 100% 93%) 6%,
  hsl(57deg 100% 87%) 11%,
  hsl(57deg 100% 80%) 17%,
  hsl(57deg 100% 73%) 22%,
  hsl(57deg 100% 67%) 28%,
  hsl(57deg 100% 60%) 33%,
  hsl(83deg 85% 56%) 39%,
  hsl(108deg 73% 51%) 44%,
  hsl(134deg 70% 47%) 50%,
  hsl(159deg 72% 43%) 56%,
  hsl(185deg 73% 39%) 61%,
  hsl(210deg 74% 35%) 67%,
  hsl(216deg 61% 33%) 72%,
  hsl(223deg 50% 29%) 78%,
  hsl(229deg 40% 25%) 83%,
  hsl(235deg 32% 21%) 89%,
  hsl(241deg 24% 15%) 94%,
  hsl(248deg 17% 9%) 100%



);
}
#myBar3 {
  width: 1%;
  height: 60px;
  background-color: rgb(251, 255, 0);
  background-image: linear-gradient(
    129deg,
    hsl(0deg 0% 100%) 0%,
    hsl(57deg 100% 70%) 25%,
    hsl(134deg 70% 47%) 50%,
    hsl(219deg 55% 31%) 75%,
    hsl(248deg 17% 9%) 100%
  


);
}